<div style="width:100%; height:60px;"></div>
<div class="container">
	<div class="col-lg-12">
		<div class="col-lg-4">
			<div class="row profile-page">
				<ul id="accordion" class="accordion">
			    	<li>
						<div class="col col_4 profile-pic">
							<img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/corporate_men1.jpg">
							<div class="edit-pic">
								<a href="https://web.facebook.com/rafaelpascual0812" target="_blank" class="fa fa-facebook"></a>
								<a href="https://www.linkedin.com/isaganiocampo/" target="_blank" class="fa fa-linkedin"></a>
								<a href="https://twitter.com/isaganiocampo1" target="_blank" class="fa fa-twitter"></a>
								<!-- <a href="https://plus.google.com/u/0/105032594920038016998" target="_blank" class="fa fa-google"></a> -->

							</div>
							<div class="username">
							    <h2>Isagani Ocampo  <small><i class="fa fa-map-marker"></i> Pasig City </small></h2>
							    <p><i class="fa fa-briefcase"></i> Back-end Developer.</p>
							    
							    <!-- <a href="https://web.facebook.com/isaganiocampo" target="_blank" class="btn-o"> <i class="fa fa-user-plus"></i> Add Friend </a>
							    <a href="https://www.instagram.com/isaganiocampo/" target="_blank"  class="btn-o"> <i class="fa fa-plus"></i> Follow </a> -->
							    
							    
							    <!-- <ul class="nav navbar-nav">
							        <li class="dropdown">
							          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-v pull-right"></span></a>
							          <ul class="dropdown-menu pull-right">
							            <li><a href="#">Video Call <i class="fa fa-video-camera"></i></a></li>
							            <li><a href="#">Poke <i class="fa fa-hand-o-right"></i></a></li>
							            <li><a href="#">Report <i class="fa fa-bug"></i></a></li>
							            <li><a href="#">Block <i class="fa fa-lock"></i></a></li>
							          </ul>
							        </li>
							    </ul> -->
						   
							</div>
						    
						</div>
						        
					</li>
					<li>
						<div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
						<ul class="submenu">
							<li><a href="#">Address : PHILIPPINES, Pasig</a></li>
							<li><a href="mailto:isagani.ocampo@gmail.com">Email : isagani.ocampo@gmail.com</a></li>
							<li><a href="#">Phone : +63 956-7000690</a></li>
						</ul>
					</li>
					<li class="default open">
						<div class="link"><i class="fa fa-code"></i>Professional Skills<i class="fa fa-chevron-down"></i></div>
						<ul class="submenu">
							<li>
								<div class="row" style="padding: 5%;">
									<span class="tags">Node JS</span> 
									<span class="tags">PHP 7</span> 
									<span class="tags">CSS</span> 
									<span class="tags">CSS 3</span> 
			                		<span class="tags">Graphic Design</span> 
			                		<span class="tags">HTML</span> 
			                		<span class="tags">HTML5</span> 
			                		<span class="tags">JavaScript</span> 
			                		<span class="tags">Twitter bootstrap</span> 
			                		<span class="tags">Bootstrap</span> 
			                		<span class="tags">MySQL</span> 
			                		<span class="tags">PostgreSQL</span>
								</div>
									
			                	
			                </li>
						</ul>
					</li>
					<li>
						<div class="link"><i class="fa fa-picture-o"></i>Photos <small>1,120</small><i class="fa fa-chevron-down"></i></div>
						<ul class="submenu">
							<li class="photosgurdeep"><a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
							</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			    			</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			    			</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			    			</a>
			               
			                <a class="view-all" href="https://web.facebook.com/isaganiocampo" target="_blank" >15+
			        		</a>
			    			    
							</li>
						</ul>
					</li>
					<li><div class="link"><i class="fa fa-users"></i>Friends <small>1,053</small><i class="fa fa-chevron-down"></i></div>
						<ul class="submenu">
			    			<li class="photosgurdeep"><a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../images/samples/isaganiocampo.jpg">                 
							</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			    			</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			    			</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			    			</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			        		</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			    			</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			    			</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			        		</a>
			                <a href="#"><img class="img-responsive profile" alt="isaganiocampo" src="../../images/samples/isaganiocampo.jpg">                 
			    			</a>
			               
			                <a class="view-all" href="https://web.facebook.com/isaganiocampo" target="_blank">50+
			        		</a>
			    			    
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>	 
		<div class="col-lg-8" style="background-color: #FFF;">
			<div class="row ">
				<div class="messages">
					<nav class="navbar navbar-default navbar-static-top" role="navigation">
					    <div class="container">
					        <!-- Brand and toggle get grouped for better mobile display -->
					        <div class="navbar-header">
					            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>

					            </button>
					        </div>
					        <!-- Collect the nav links, forms, and other content for toggling -->
					        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					            <div class="btn-compose pull-left">
					                <a type="button" class="btn btn-danger navbar-btn" href="#compose" role="tab" data-toggle="tab"> <span class="glyphicon glyphicon-pencil"></span> Compose</a>
					            </div>
					            <ul class="nav navbar-nav">
					                <li>
					                    <a href="#inbox" role="tab" data-toggle="tab">
					                        Inbox <span class="label label-success">10</span>
					                    </a>
					                </li>
					                <li><a href="#sent-mail" role="tab" data-toggle="tab">Sent messages</a>

					                </li>
					                <li><a href="#draft" role="tab" data-toggle="tab">Draft</a>

					                </li>
					                <li><a href="#trash" role="tab" data-toggle="tab">Trash</a>

					                </li>
					            </ul>
					            <ul class="nav navbar-nav navbar-right">
					                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Username</a>

					                </li>
					            </ul>
					        </div>
					        <!-- /.navbar-collapse -->
					    </div>
					    <!-- /.container-fluid -->
					</nav>
					<div class="tab-content">
					  <div class="tab-pane active" id="inbox">
					      
					      <!-- <div class="container"> -->
					           <div class="content-container clearfix">
					               <div class="col-md-12">
					                   <h1 class="content-title">Inbox</h1>
					                   
					                   <input type="search" placeholder="Search Messages" class="form-control mail-search" />
					                   
					                   <ul class="mail-list">
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">You have ten more subscriptions click her...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                   </ul>
					               </div>
					           </div>
					       <!-- </div> -->
					      
					  </div>
					  <div class="tab-pane" id="compose">
					      
						    <div class="content-container clearfix">
						        <h1 class="content-title">Compose</h1>
						        <div class="col-md-12">
						            <div class="form-group">
						                <input id="tokenfield" type="text" class="form-control" placeholder="To" />
						            </div>
						            <div class="form-group">
						                <input type="text" class="form-control" placeholder="Cc" />
						            </div>
						            <div class="form-group">
						                <input type="text" class="form-control" placeholder="Bcc" />
						            </div>
						            <div class="form-group">
						                <input type="text" class="form-control" placeholder="Subject" />
						            </div>
						            <textarea class="form-control" placeholder="message"></textarea>
						            <div class="btn-send">
						            <button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-send"></span> Send</button>
						            </div>
						        </div>
						    </div>
						
					      
					  </div>
					  <div class="tab-pane" id="sent-mail">
					      
					           <div class="content-container clearfix">
					               <div class="col-md-12">
					                   <h1 class="content-title">Sent Messages</h1>
					                   
					                   <input type="search" placeholder="Search Sent Messages" class="form-control mail-search" />
					                   
					                   <ul class="mail-list">
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">You have ten more subscriptions click her...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                   </ul>
					               </div>
					           </div>
					      
					  </div>
					  <div class="tab-pane" id="draft">
					      
					           <div class="content-container clearfix">
					               <div class="col-md-12">
					                   <h1 class="content-title">Draft</h1>
					                   
					                   <input type="search" placeholder="Search Draft Messages" class="form-control mail-search" />
					                   
					                   <ul class="mail-list">
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">You have ten more subscriptions click her...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                   </ul>
					               </div>
					           </div>
					      
					  </div>
					  <div class="tab-pane" id="trash">
					      
					           <div class="content-container clearfix">
					               <div class="col-md-12">
					                   <h1 class="content-title">Trash</h1>
					                   
					                   <input type="search" placeholder="Search Trash Messages" class="form-control mail-search" />
					                   
					                   <ul class="mail-list">
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">You have ten more subscriptions click her...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                       <li>
					                           <a href="">
					                               <span class="mail-sender">You Tube</span>
					                               <span class="mail-subject">New subscribers!</span>
					                               <span class="mail-message-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eveniet ipsum nisi? Eaque odio quae debitis saepe explicabo alias sit tenetur animi...</span>
					                           </a>
					                       </li>
					                   </ul>
					               </div>
					           </div>
					      
					  </div>
					</div>
				</div>
			</div>
		</div>   
	</div>
</div>