<!-- first section -->
<div id="home" class="home" ng-controller="FirstSection">

	<div class="text-vcenter" style="z-index: 9999;">
		<!-- <h1 class="small">IGNITION</h1> -->
		<!-- <img src="../images/FINAL_LOGO1.png" style="width: 300px;"> -->

		<div class="big xeditable xwhite">
			<span id="section1_1" title="Click to edit"></span>
		</div>
		<div class="big xeditable xwhite" style="margin-top: -30px;">
			<span id="section1_2" title="Click to edit"></span>
		</div>
		<div>
			<a href="#workspace"><img src="../images/mouse.png" /></a>
			<img src="../images/arrow_down.png" class="blink" />
		</div>
	</div>

</div>
<!-- /first section -->

<!-- second section -->
<div id="home1" class="home1">
	<div class="text-vcenter">
		<div class="big xeditable xwhite">
			<span id="section2_title" title="Click to edit"></span>
		</div>
		<div class="description xeditable xwhite">
			<span id="section2_description" title="Click to edit"></span>
		</div>
	</div>

	
</div>
<!-- /second section -->

<!-- third section -->
<div id="home2" class="home2">
	<div class="text-vcenter">
		<div class="big xeditable xwhite">
			<span id="section3_title" title="Click to edit"></span>
		</div>
		<div class="description xeditable xwhite">
			<span id="section3_description" title="Click to edit"></span>
		</div>
	</div>
</div>
<!-- /third section -->

<!-- fourth section -->
<div id="community" class="home3">
	<div class="text-vcenter">
		<div class="big xeditable xwhite">
			<span id="section4_title" title="Click to edit"></span>
		</div>
		<div class="description xeditable xwhite">
			<span id="section4_description" title="Click to edit"></span>
		</div>
		<div>
			<!-- <button class="btn btn-danger custom-button" data-toggle="modal" data-target="#LoginModal">IGNITE YOUR BUSINESS TODAY</button> -->
			<a href="./user/signin"><button class="btn btn-danger custom-button">IGNITE YOUR BUSINESS TODAY</button></a>
		</div>
	</div>
</div>
<!-- /fourth section -->

<!-- fourth section -->
<div id="workspace" class="force-whitebg">

	<!-- <div>
		<nav class="navbar navbar-default navbar-custom">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<img src="../images/FINAL_LOGO1.png" style="width: 150px;">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse-main">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#about">ABOUT</a></li>
						<li class="active"><a href="#space">SPACE</a></li>
						<li><a href="#services">SERVICES</a></li>
						<li><a href="#information">COMMUNITY</a></li>
						<li><a href="#google_map">CAPITAL</a></li>
						<li><a href="#google_map">STORIES</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div> -->

	<div class="container" style="background-color: #fffcf5; padding: 0 0 2% 0;">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p style="text-align:center; margin-top: 60px; font-size:1.2em;" class="xeditable xblack">
					<span id="section5_title" title="Click to edit"></span>
				</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p style="text-align:center; color:#e94a4e; font-size:3.7em; font-family:customBN;" class="xeditable xred">
					<span id="section5_description" title="Click to edit"></span>
				</p>
			</div>		
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="wrapper wrapper-content">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-sm-6 col-xs-5">
							<div class="owl-carousel owl-theme owl-loaded owl-drag">
				                <div class="item"><img class="slider-img" src="../images/carousel/479877216.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/175138324.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/481431071.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/493088844.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/foos-e1267236180688.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/iStock_000073589327_Full.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/iStock_000081488619_Large-2.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/stock-photo-76274877-start-of-busy-day-at-work-trendy-office-business-people.jpg" alt=""></div>
				            </div>
						</div>
						<div class="slide-separator"></div>
						<div class="col-lg-5 col-md-5 col-sm-6 col-xs-7">
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/g4265.png" style="width: 100%; height: 100%;">	
										</div>
										
									</div>
									<div class="hr">
									    <div class="line"></div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9 xeditable xblack">
									<span id="section5_accordion1" title="Click to edit"></span>
								</div>
							</div>
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/path4275.png" style="width: 100%; height: 100%;">
										</div>
									</div>
									<div class="hr">
									    <div class="line"></div>
									    <div class="line"></div>
									    <div class="line"></div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9 xeditable xblack" style="padding-top: 10px;">
									<span id="section5_accordion2" title="Click to edit"></span>
								</div>
							</div>
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/g4317.png" style="width: 100%; height: 100%;">
										</div>
									</div>
									<div class="hr">
									    <div class="line"></div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9 xeditable xblack" style="padding-top: 10px;">
									<span id="section5_accordion3" title="Click to edit"></span>
								</div>
							</div>
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/g4281.png" style="width: 100%; height: 100%;">
										</div>
									</div>
									<div class="hr">
									    <div class="line"></div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9 xeditable xblack" style="padding-top: 10px;">
									<span id="section5_accordion4" title="Click to edit"></span>
								</div>
							</div>
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/g4321.png" style="width: 100%; height: 100%;">
										</div>
									</div>
									<div class="hr">
									    <div class="line"></div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9 xeditable xblack" style="padding-top: 10px;">
									<span id="section5_accordion5" title="Click to edit"></span>
								</div>
							</div>
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/g4285.png" style="width: 100%; height: 100%;">
										</div>
									</div>

								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9 xeditable xblack" style="padding-top: 10px;">
									<span id="section5_accordion6" title="Click to edit"></span>
								</div>
							</div>
							<div style="padding-top: 30px;" class="push-right">
								<button class="btn btn-danger" style="font-size:1em;" data-toggle="modal" data-target="#LoginModal">PRICE STARTS AT P500 / DAY</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /fourth section -->

<!-- fifth section -->
<div id="bigimg" class="pad-section force-whitebg">
	<div class="col-lg-12">
		<div class="container">
			<img src="../images/samples/175138324.jpg" style="width: 100%; height: 650px;"/>
		</div>
	</div>
</div>
<!-- /fifth section -->

<!-- sixth section -->
<div id="services" class="force-whitebg">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p style="text-align:center; margin-top: 10px; font-size:1.2em;" class="xeditable xblack">
					<span id="section7_title" title="Click to edit"></span>
				</p>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<p style="text-align:center; color:#e94a4e; font-size:3em; font-family:customBN;" class="xeditable xred">
				<span id="section7_description" title="Click to edit"></span>
			</p>
		</div>	
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-2">
							<div class="services-hexagon-button">
								<span id="section7_hexagon1" title="Click to edit"></span>
							</div>
						</div>	
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-2">
							<div class="services-hexagon-button xeditable">
								<span id="section7_hexagon2" title="Click to edit"></span>
							</div>
						</div>	
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-2">
							<div class="services-hexagon-button xeditable">
								<span id="section7_hexagon3" title="Click to edit"></span>
							</div>
						</div>	
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-1">
							<div class="services-hexagon-button xeditable">
								<span id="section7_hexagon4" title="Click to edit"></span>
							</div>
						</div>	
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-2">
							<div class="services-hexagon-button xeditable">
								<span id="section7_hexagon5" title="Click to edit"></span>
							</div>
						</div>	
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-2">
							<div class="services-hexagon-button xeditable">
								<span id="section7_hexagon6" title="Click to edit"></span>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12" style="margin-top: 20px;">
			<div class="container">
				<div class="wrapper wrapper-content font-gray">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<img src="../images/samples/493088844.jpg" class="full-img" />
						</div>
						<div class="col-lg-6 col-md-6 xeditable">
							<span id="section7_writeup" title="Click to edit"></span>
							<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book:</p>
							<ul>
								<li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </li>
								<li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
								<li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</li>
							</ul> -->

							<button class="btn btn-danger" style="font-size:1em;" data-toggle="modal" data-target="#LoginModal">TRISTIQUE CUPURUS</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /sixth section -->

<!-- seventh section -->
<div id="commodo" class="force-whitebg">
	<div class="col-lg-12">
		<div class="container">
			<div>
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div style="width: 100%; height: 50px;"></div>
							<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4749.png" style="width: 100%; height: 100%;">
							</div>	
							<div style="width: 100%; height: 30px;"></div>
							<div class="font-red xeditable xred">
								<span id="section8_title1" title="Click to edit"></span>
							</div>
							<div class="col-lg-12">
								<p class="font-normal-1 xeditable"> 
									<span id="section8_description1" title="Click to edit"></span>
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div style="width: 100%; height: 50px;"></div>
							<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4789.png" style="width: 100%; height: 100%;">
							</div>	
							<div style="width: 100%; height: 30px;"></div>
							<div class="font-red xeditable xred">
								<span id="section8_title2" title="Click to edit"></span>
							</div>
							<div class="col-lg-12">
								<p class="font-normal-1 xeditable"> 
									<span id="section8_description2" title="Click to edit"></span>
								</p>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div style="width: 100%; height: 50px;"></div>
							<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4797.png" style="width: 100%; height: 100%;">
							</div>	
							<div style="width: 100%; height: 30px;"></div>
							<div class="font-red xeditable xred">
								<span id="section8_title3" title="Click to edit"></span>
							</div>
							<div class="col-lg-12">
								<p class="font-normal-1 xeditable"> 
									<span id="section8_description3" title="Click to edit"></span>
								</p>
							</div>
						</div>
						<div style="width: 100%; height: 50px;"></div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4801.png" style="width: 100%; height: 100%;">
							</div>	
							<div style="width: 100%; height: 30px;"></div>
							<div class="font-red xeditable xred">
								<span id="section8_title4" title="Click to edit"></span>
							</div>
							<div class="col-lg-12">
								<p class="font-normal-1 xeditable"> 
									<span id="section8_description4" title="Click to edit"></span>
								</p>
							</div>
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
				
				<div class="col-lg-12">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div style="width: 100%; height: 50px;"></div>
						<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4817.png" style="width: 100%; height: 100%;">
							</div>	
						<div style="width: 100%; height: 30px;"></div>
						<div class="font-red xeditable xred">
							<span id="section8_title5" title="Click to edit"></span>
						</div>
						<div class="col-lg-12">
							<p class="font-normal-1 xeditable"> 
								<span id="section8_description5" title="Click to edit"></span>
							</p>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div style="width: 100%; height: 50px;"></div>
						<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4865.png" style="width: 100%; height: 100%;">
							</div>	
						<div style="width: 100%; height: 30px;"></div>
						<div class="font-red xeditable xred">
							<span id="section8_title6" title="Click to edit"></span>
						</div>
						<div class="col-lg-12">
							<p class="font-normal-1 xeditable"> 
								<span id="section8_description6" title="Click to edit"></span>
							</p>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div style="width: 100%; height: 50px;"></div>
						<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4889.png" style="width: 100%; height: 100%;">
							</div>	
						<div style="width: 100%; height: 30px;"></div>
						<div class="font-red xeditable xred">
							<span id="section8_title7" title="Click to edit"></span>
						</div>
						<div class="col-lg-12">
							<p class="font-normal-1 xeditable"> 
								<span id="section8_description7" title="Click to edit"></span>
							</p>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div style="width: 100%; height: 50px;"></div>
						<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4893.png" style="width: 100%; height: 100%;">
							</div>	
						<div style="width: 100%; height: 30px;"></div>
						<div class="font-red xeditable xred">
							<span id="section8_title8" title="Click to edit"></span>
						</div>
						<div class="col-lg-12">
							<p class="font-normal-1 xeditable"> 
								<span id="section8_description8" title="Click to edit"></span>
							</p>
						</div>
					</div>

					<div style="clear:both;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /seventh section -->

<!-- eight section -->
<div class="pad-section force-whitebg">
	<div class="col-lg-12">
		<div class="container">
			<div class="row" id="capital">
				<div class="col-lg-6 offset-0">
					<img src="../images/samples/shutterstock_365572922.jpg"/>
				</div>
				<div class="col-lg-6" style="height: 390px; padding-left:10%; padding-top: 5%;">
					<div>
						<div class="row">
							<p style="font-size:1.2em;" class="xeditable">
								<span id="section9_title1" title="Click to edit"></span>
							</p>	
						</div>
						<div class="row">
							<div style="color:#e94a4e; font-size:2.7em; font-family:customBN;" class="xeditable xred">
								<span id="section9_tag1_1" title="Click to edit"></span>
							</div>	
							<div style="color:#e94a4e; font-size:2.7em; font-family:customBN;" class="xeditable xred">
								<span id="section9_tag1_2" title="Click to edit"></span>
							</div>	
						</div>
						<div class="row">
							<p class="col-sm-6" class="xeditable">
								<span id="section9_description1" title="Click to edit"></span>
							</p>
						</div>
						<div class="row">
							<button class="btn btn-danger" style="font-size:1em;">LEARN HOW</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="stories">
				<div class="col-lg-6" style="background-color: #445157; height: 390px; padding-left:10%; padding-top: 5%;">
					<div class="row">
						<p style="font-size:1.2em; color: #FFF;" class="xeditable xwhite">
							<span id="section9_title2" title="Click to edit"></span>
						</p>
					</div>
					<div class="row">
						<p style="color:#FFF; font-size:2.7em; font-family:customBN;" class="xeditable xwhite">
							<span id="section9_tag2" title="Click to edit"></span>
						</p>
					</div>
					<div class="row">
						<p class="col-sm-6 font-white xeditable xwhite">
							<span id="section9_description2" title="Click to edit"></span>
						</p>
					</div>
					<div class="row">
						<button class="btn btn-danger" style="font-size:1em;">READ MORE IGNITION STORIES</button>
					</div>
				</div>
				<div class="col-lg-6 offset-0">
					<img src="../images/samples/cool-office.jpg"/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /eight section -->

<!-- ninth section -->
<div id="ninth" class="force-whitebg">
	<div class="col-lg-12" >
		<div class="row">
			<div class="col-lg-8" style="padding-left: 5%; padding-right: 5%; padding-bottom: 3%;">
				<p class="font-med-1 xeditable">
					<span id="section10_tag"></span>
				</p>
			</div>
			<div class="col-lg-4" style="padding-top: 10px; padding-bottom: 10%;">
				<button class="btn btn-danger" style="font-size:1em;" data-toggle="modal" data-target="#LoginModal">IGNITE YOUR BUSINESS TODAY</button>
			</div>
		</div>
		<div class="row" style="height: 150px;">
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/google-dublin-playroom-1309781287.jpg" style="width: 100%; height: 150px;"/>
			</div>
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/stock-photo-76274877-start-of-busy-day-at-work-trendy-office-business-people.jpg" style="width: 100%; height: 150px;"/>
			</div>
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/481431071.jpg" style="width: 100%; height: 150px;"/>
			</div>
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/foos-e1267236180688.jpg" style="width: 100%;  height: 150px;"/>
			</div>
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/6b9275c88acf10058e6b005056921b5e.jpg" style="width: 100%; height: 150px;"/>
			</div>
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/iStock_000081488619_Large-2.jpg" style="width: 100%; height: 150px;"/>
			</div>
		</div>
	</div>
</div>
<!-- /ninth section -->

<div class="before-map"></div>
<!-- google map -->
<div id="google_map"></div>
<!-- /google map -->

<div class="sticky-sidebar">
	<span style="font-size: 15px; margin-right: 20px;">You have made changes to the content but it will not be seen by the general public unless you click <b>Save and Apply All Changes</b>.</span>
	<button id="apply_changes_btn" type="button" class="btn btn-danger btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#modal">Save and Apply All Changes</button>

	<button id="cancel_changes_btn" type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancel All Changes</button>
</div>

<div id="generic_modal" class="modal fade" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="generic_modal_title"></h4>
      		</div>
      		<div class="modal-body" id="generic_modal_body">
        		<!-- <p>Your session has expired. Please <a href="/user/signin">log in</a> again.</p> -->
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="session_expired" class="modal fade" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Error</h4>
      		</div>
      		<div class="modal-body">
        		<p>Your session has expired. Please <a href="/user/signin">log in</a> again.</p>
      		</div>
      		<div class="modal-body">
        		<p style="font-size: 11px;"><span style="color:#FF0000;">IMPORTANT!</span> If you are idle for a long time, your session will expire and will be forced to log in again.</p>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="apply_modal" class="modal fade" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Please confirm...</h4>
      		</div>
      		<div class="modal-body">
        		<p>Are you sure you want to publish your content?</p>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-primary">Publish my content</button>
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="cancel_modal" class="modal fade" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Please confirm...</h4>
      		</div>
      		<div class="modal-body">
        		<p>Are you sure you want to delete your changes? This action can not be undone.</p>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-primary">Cancel all changes</button>
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->