<!-- first section -->
<div id="home" class="home">
	<div class="text-vcenter" style="z-index: 9999;">
		<!-- <h1 class="small">IGNITION</h1> -->
		<!-- <img src="../images/FINAL_LOGO1.png" style="width: 300px;"> -->

		<div class="big">YOUR ENGINE</div>
		<div class="big" style="margin-top: -30px;">FOR INNOVATION</div>
		<div>
			<a href="#workspace"><img src="../images/mouse.png" /></a>
			<img src="../images/arrow_down.png" class="blink" />
		</div>
	</div>

</div>
<!-- /first section -->

<!-- second section -->
<div id="home1" class="home1">
	<div class="text-vcenter">
		<div class="big">SPACE</div>
		<div class="description">
			THE OFFICE IS MORE THAN JUST A PLACE TO WORK. THE WORKPLACE SHOULD INSPIRE EVERYTHING RELATED TO THE ENTREPRENEUR'S BUSINESS. IGNITION SPACE IS PARTICULARLY DESIGNED TO PROJECT AN IMAGE OF CONFIDENCE, SUCCESS AND A HIGH LEVEL OF COMPETENCE.
		</div>
	</div>

	
</div>
<!-- /second section -->

<!-- third section -->
<div id="home2" class="home2">
	<div class="text-vcenter">
		<div class="big">SERVICES</div>
		<div class="description">
			IGNITION SERVICES ARE TAILOR FIT FOR ENTREPRENEURS AND ALLOWS THEM TO SPEND MOST OF THEIR TIME, RESOURCES AND EFFORT ON THEIR CORE BUSINESS. IT ALSO REASSURES THEM OF QUALITY AND RELIABLE SERVICE AT A FRACTION OF THE COST OF BIG LAW OR ACCOUNTANCY FIRMS.
		</div>
	</div>
</div>
<!-- /third section -->

<!-- fourth section -->
<div id="community" class="home3">
	<div class="text-vcenter">
		<div class="big">COMMUNITY</div>
		<div class="description">
			<p>IGNITION IS COMMUNITY FILLED WITH LIKE-MINDED AND PRODUCTIVE ENTREPRENEURS AND PROFESSIONALS THAT COMPLIMENT EACH OTHER. THE ENVIRONMENT MAKES IT EASY FOR MEMBERS TO COOPERATE AND COORDINATE TO PURSUE BUSINESS PROJECTS.</p>
		</div>
		<div>
			<!-- <button class="btn btn-danger custom-button" data-toggle="modal" data-target="#LoginModal">IGNITE YOUR BUSINESS TODAY</button> -->
			<a href="./user/signin"><button class="btn btn-danger custom-button">IGNITE YOUR BUSINESS TODAY</button></a>
		</div>
	</div>
</div>
<!-- /fourth section -->

<!-- fourth section -->
<div id="workspace" class="force-whitebg">

	<!-- <div>
		<nav class="navbar navbar-default navbar-custom">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<img src="../images/FINAL_LOGO1.png" style="width: 150px;">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse-main">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#about">ABOUT</a></li>
						<li class="active"><a href="#space">SPACE</a></li>
						<li><a href="#services">SERVICES</a></li>
						<li><a href="#information">COMMUNITY</a></li>
						<li><a href="#google_map">CAPITAL</a></li>
						<li><a href="#google_map">STORIES</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div> -->

	<div class="container" style="background-color: #fffcf5; padding: 0 0 2% 0;">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p style="text-align:center; margin-top: 60px; font-size:1.2em;">IGNITION SPACE</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p style="text-align:center; color:#e94a4e; font-size:3.7em; font-family:customBN;">CHOOSE YOUR WORKSPACE</p>
			</div>		
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="wrapper wrapper-content">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-sm-6 col-xs-5">
							<div class="owl-carousel owl-theme owl-loaded owl-drag">
				                <div class="item"><img class="slider-img" src="../images/carousel/479877216.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/175138324.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/481431071.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/493088844.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/foos-e1267236180688.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/iStock_000073589327_Full.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/iStock_000081488619_Large-2.jpg" alt=""></div>
				                <div class="item"><img class="slider-img" src="../images/carousel/stock-photo-76274877-start-of-busy-day-at-work-trendy-office-business-people.jpg" alt=""></div>
				            </div>
						</div>
						<div class="slide-separator"></div>
						<div class="col-lg-5 col-md-5 col-sm-6 col-xs-7">
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/g4265.png" style="width: 100%; height: 100%;">	
										</div>
										
									</div>
									<div class="hr">
									    <div class="line"></div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9">
									SMALL PRIVATE OFFICE FOR RENTAL
								</div>
							</div>
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/path4275.png" style="width: 100%; height: 100%;">
										</div>
									</div>
									<div class="hr">
									    <div class="line"></div>
									    <div class="line"></div>
									    <div class="line"></div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9" style="padding-top: 10px;">
									CO-WORKING SPACE [SEATS]
								</div>
							</div>
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/g4317.png" style="width: 100%; height: 100%;">
										</div>
									</div>
									<div class="hr">
									    <div class="line"></div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9" style="padding-top: 10px;">
									MEMBERSHIPS
								</div>
							</div>
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/g4281.png" style="width: 100%; height: 100%;">
										</div>
									</div>
									<div class="hr">
									    <div class="line"></div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9" style="padding-top: 10px;">
									EVENT SPACE
								</div>
							</div>
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/g4321.png" style="width: 100%; height: 100%;">
										</div>
									</div>
									<div class="hr">
									    <div class="line"></div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9" style="padding-top: 10px;">
									MEETING ROOMS
								</div>
							</div>
							<div class="row push-right">
								<div class="col-lg-2 col-sm-2 col-xs-3">
									<div class="hexagon-sm">
										<div style="width: 100%; height: 100%; padding: 2% 5% 2% 5%">
											<img src="../images/icons/g4285.png" style="width: 100%; height: 100%;">
										</div>
									</div>

								</div>
								<div class="col-lg-10 col-sm-9 col-xs-9" style="padding-top: 10px;">
									BUSINESS ADDRESS AND MAILING SERVICES
								</div>
							</div>
							<div style="padding-top: 30px;" class="push-right">
								<button class="btn btn-danger" style="font-size:1em;" data-toggle="modal" data-target="#LoginModal">PRICE STARTS AT P500 / DAY</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /fourth section -->

<!-- fifth section -->
<div id="bigimg" class="pad-section force-whitebg">
	<div class="col-lg-12">
		<div class="container">
			<img src="../images/samples/175138324.jpg" style="width: 100%; height: 650px;"/>
		</div>
	</div>
</div>
<!-- /fifth section -->

<!-- sixth section -->
<div id="services" class="force-whitebg">
	<div class="col-lg-12">
		<div class="container">
			<div class="col-lg-12">
				<p style="text-align:center; margin-top: 10px; font-size:1.2em;">IGNITION SERVICES</p>
			</div>
		</div>
		<div class="col-lg-12">
			<p style="text-align:center; color:#e94a4e; font-size:3em; font-family:customBN;">HELPING YOU WITH CONSECTETUR PURUS</p>
		</div>	
		<div class="col-lg-12">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-2">
							<div class="services-hexagon-button">
								BUSINESS REGISTRATION	
							</div>
						</div>	
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-2">
							<div class="services-hexagon-button">
								INTELECTUAL PROPERTY	
							</div>
						</div>	
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-2">
							<div class="services-hexagon-button">
								BASIC ACCOUNTING
							</div>
						</div>	
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-1">
							<div class="services-hexagon-button">
								HUMAN RESOURCES	
							</div>
						</div>	
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-2">
							<div class="services-hexagon-button">
								IMMIGRATION SERVICES
							</div>
						</div>	
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
						<div class="hexagon-bg-2">
							<div class="services-hexagon-button">
								REAL <br />ESTATE
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12" style="margin-top: 20px;">
			<div class="container">
				<div class="wrapper wrapper-content font-gray">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<img src="../images/samples/493088844.jpg" class="full-img" />
						</div>
						<div class="col-lg-6 col-md-6">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book:</p>
							<ul>
								<li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </li>
								<li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
								<li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</li>
							</ul>

							<button class="btn btn-danger" style="font-size:1em;" data-toggle="modal" data-target="#LoginModal">TRISTIQUE CUPURUS</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /sixth section -->

<!-- seventh section -->
<div id="commodo" class="force-whitebg">
	<div class="col-lg-12">
		<div class="container">
			<div>
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div style="width: 100%; height: 50px;"></div>
							<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4749.png" style="width: 100%; height: 100%;">
							</div>	
							<div style="width: 100%; height: 30px;"></div>
							<div class="font-red">DATABASE / <br />TALENT POOL</div>
							<div class="col-lg-12">
								<p class="font-normal-1">
									Vulpu ociis	natoque penatibus et magnis dis parturient montes, nascetur ridiculus mu suere erat a ante venen.	
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div style="width: 100%; height: 50px;"></div>
							<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4789.png" style="width: 100%; height: 100%;">
							</div>	
							<div style="width: 100%; height: 30px;"></div>
							<div class="font-red">PEER MENTORSHIP <br />PROGRAM</div>
							<div class="col-lg-12">
								<p class="font-normal-1">
									Vulpu ociis	natoque penatibus et magnis dis parturient montes, nascetur ridiculus mu suere erat a ante venen.	
								</p>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div style="width: 100%; height: 50px;"></div>
							<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4797.png" style="width: 100%; height: 100%;">
							</div>	
							<div style="width: 100%; height: 30px;"></div>
							<div class="font-red">MATCH MAKING <br />FOR BUSINESS</div>
							<div class="col-lg-12">
								<p class="font-normal-1">
									Vulpu ociis	natoque penatibus et magnis dis parturient montes, nascetur ridiculus mu suere erat a ante venen.	
								</p>
							</div>
						</div>
						<div style="width: 100%; height: 50px;"></div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4801.png" style="width: 100%; height: 100%;">
							</div>	
							<div style="width: 100%; height: 30px;"></div>
							<div class="font-red">FEEDBACK <br />MECHANISM</div>
							<div class="col-lg-12">
								<p class="font-normal-1">
									Vulpu ociis	natoque penatibus et magnis dis parturient montes, nascetur ridiculus mu suere erat a ante venen.	
								</p>
							</div>
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
				
				<div class="col-lg-12">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div style="width: 100%; height: 50px;"></div>
						<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4817.png" style="width: 100%; height: 100%;">
							</div>	
						<div style="width: 100%; height: 30px;"></div>
						<div class="font-red">EVENTS <br />JUSTO VENENATIS</div>
						<div class="col-lg-12">
							<p class="font-normal-1">
								Vulpu ociis	natoque penatibus et magnis dis parturient montes, nascetur ridiculus mu suere erat a ante venen.	
							</p>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div style="width: 100%; height: 50px;"></div>
						<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4865.png" style="width: 100%; height: 100%;">
							</div>	
						<div style="width: 100%; height: 30px;"></div>
						<div class="font-red">CROWD SOURCE <br />LOBBYING</div>
						<div class="col-lg-12">
							<p class="font-normal-1">
								Vulpu ociis	natoque penatibus et magnis dis parturient montes, nascetur ridiculus mu suere erat a ante venen.	
							</p>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div style="width: 100%; height: 50px;"></div>
						<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4889.png" style="width: 100%; height: 100%;">
							</div>	
						<div style="width: 100%; height: 30px;"></div>
						<div class="font-red">KNOWLEDGE <br />SHARING</div>
						<div class="col-lg-12">
							<p class="font-normal-1">
								Vulpu ociis	natoque penatibus et magnis dis parturient montes, nascetur ridiculus mu suere erat a ante venen.	
							</p>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div style="width: 100%; height: 50px;"></div>
						<div class="hexagon-md" style="margin: 0 auto; padding: 2% 5% 2% 5%;">
								<img src="../images/icons/g4893.png" style="width: 100%; height: 100%;">
							</div>	
						<div style="width: 100%; height: 30px;"></div>
						<div class="font-red">...AND MORE <br />LOREM LIGULA</div>
						<div class="col-lg-12">
							<p class="font-normal-1">
								Vulpu ociis	natoque penatibus et magnis dis parturient montes, nascetur ridiculus mu suere erat a ante venen.	
							</p>
						</div>
					</div>

					<div style="clear:both;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /seventh section -->

<!-- eight section -->
<div class="pad-section force-whitebg">
	<div class="col-lg-12">
		<div class="container">
			<div class="row" id="capital">
				<div class="col-lg-6 offset-0">
					<img src="../images/samples/shutterstock_365572922.jpg"/>
				</div>
				<div class="col-lg-6" style="height: 390px; padding-left:10%; padding-top: 5%;">
					<div>
						<div class="row">
							<p style="font-size:1.2em;">IGNITION CAPITAL</p>	
						</div>
						<div class="row">
							<div style="color:#e94a4e; font-size:2.7em; font-family:customBN;">MALESUADA HELP</div>	
							<div style="color:#e94a4e; font-size:2.7em; font-family:customBN;">INDUSTRY VULPUTATE</div>	
						</div>
						<div class="row">
							<p class="col-sm-6">Ignition connects its community to industry experts, strategic partners and venture capitalists to assist disruptive innovators expand and grow their business.</p>
						</div>
						<div class="row">
							<button class="btn btn-danger" style="font-size:1em;">LEARN HOW</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="stories">
				<div class="col-lg-6" style="background-color: #445157; height: 390px; padding-left:10%; padding-top: 5%;">
					<div class="row">
						<p style="font-size:1.2em; color: #FFF;">IGNITION STORIES</p>
					</div>
					<div class="row">
						<p style="color:#FFF; font-size:2.7em; font-family:customBN;">NULLAM QUIS RISUS EGET URNA MOLLIS</p>
					</div>
					<div class="row">
						<p class="col-sm-6 font-white">Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo magna, vel scelerisque nisl.</p>
					</div>
					<div class="row">
						<button class="btn btn-danger" style="font-size:1em;">READ MORE IGNITION STORIES</button>
					</div>
				</div>
				<div class="col-lg-6 offset-0">
					<img src="../images/samples/cool-office.jpg"/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /eight section -->

<!-- ninth section -->
<div id="ninth" class="force-whitebg">
	<div class="col-lg-12" >
		<div class="row">
			<div class="col-lg-8" style="padding-left: 5%; padding-right: 5%; padding-bottom: 3%;">
				<p class="font-med-1">
					Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
				</p>
			</div>
			<div class="col-lg-4" style="padding-top: 10px; padding-bottom: 10%;">
				<button class="btn btn-danger" style="font-size:1em;" data-toggle="modal" data-target="#LoginModal">IGNITE YOUR BUSINESS TODAY</button>
			</div>
		</div>
		<div class="row" style="height: 150px;">
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/google-dublin-playroom-1309781287.jpg" style="width: 100%; height: 150px;"/>
			</div>
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/stock-photo-76274877-start-of-busy-day-at-work-trendy-office-business-people.jpg" style="width: 100%; height: 150px;"/>
			</div>
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/481431071.jpg" style="width: 100%; height: 150px;"/>
			</div>
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/foos-e1267236180688.jpg" style="width: 100%;  height: 150px;"/>
			</div>
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/6b9275c88acf10058e6b005056921b5e.jpg" style="width: 100%; height: 150px;"/>
			</div>
			<div class="col-sm-2 offset-0">
				<img src="../images/samples/iStock_000081488619_Large-2.jpg" style="width: 100%; height: 150px;"/>
			</div>
		</div>
	</div>
</div>
<!-- /ninth section -->

<div class="before-map"></div>
<!-- google map -->
<div id="google_map"></div>
<!-- /google map -->

